
/runtime/
/uploads/
/vendor/

/basic/runtime/
/basic/web/assets/
/basic/web/files/
/basic/config/console.php
/basic/config/cookie-key.php
/basic/config/db.php
/basic/config/params-local.php
/basic/config/test.php
/basic/config/test_db.php
/basic/config/web-local.php

/backend/runtime/
/backend/web/assets/
/backend/web/files/
/backend/config/cookie-key.php
/backend/config/main-local.php
/backend/config/params-local.php

/frontend/runtime/
/frontend/web/assets/
/frontend/web/files/
/frontend/config/cookie-key.php
/frontend/config/main-local.php
/frontend/config/params-local.php
/frontend/config/test-local.php

/common/config/main-local.php
/common/config/params-local.php
/common/config/test-local.php
