
/runtime/
/uploads/
/vendor/

/backend/runtime/
/backend/web/assets/
/backend/web/files/

/basic/runtime/
/basic/web/assets/
/basic/web/files/

/frontend/runtime/
/frontend/web/assets/
/frontend/web/files/

